# Files
compile_commands.json
xcodebuild.log
config.json
test-setup.cmd
*.vcxproj.filters
*.aps
*.suo
*.ncb
*.obj
*.pch
*.pdb
*.jpg
*.idb
*.res
*.orig
*.user
*.zip
*.bin
*.cmake
*.com
; *.exe
*.in
*.header
*.pbxbtree
#*.pbxproj
*.pbxuser
*.perspectivev3
*.DS_Store
*.swp
*.swo
*.mkdir.done
*.cfg
*.user
*.sdf
*.opensdf
*.vsp
*.vsps
*.psess
*.tlog
*.log
*.unsuccessfulbuild
*.db
*.lastbuildstate
CMakeCache.txt
BuildLog.htm
mg_error.txt
build_version

#  Folders
# where we build stuff for distro
Examples/
dist/
pix/
bin/
vault/
runtime/
database/
images/
#xcode/
bleeding/
build/
FF1801-Debug/
FF1801-Profile/
FF1801-Release/
FF2000-Debug/
FF2000-Profile/
FF2000-Release/
FF2100-Debug/
FF2100-Profile/
FF2100-Release/
FF2200-Debug/
FF2200-Profile/
FF2200-Release/
Debug-VS2012/
Profile-VS2012/
Release-VS2012/
Inno-Signed/
server/lib/mozilla/*/
Debug/
release/
Release/
Profile/
xul_debug/
xul_release/
Data/
data/
_sgbak/
.DS_Store/
CMakeFiles/
CMakeScripts/
!server/lib/openssl-0.9.8k/bin
make/
xcshareddata/
#*.xcodeproj/
xcuserdata/
LIB Debug/
LIB Release/
FF2000/
lib/mozilla/FF2100

test/gen_test_data/
_UpgradeReport_Files/
ipch/
testdata/


/runtime/*
!/runtime/web/
/MacApp.app/
/server_builds/
node_modules/

# test data directories
gen_test_data/
working_library/

*.swp
*.swo
*.swn
.DS_Store
Datejs-all/
tags
.com.apple*
*.zip
*.log
